.menu-items {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #F1F0EF;
  padding: 1rem;
  padding-bottom: 1.5rem;
  display: none;
  width: 25vw;
  display: block;
}

.menu-items ul {
  padding: 0;
  margin: 0;
}

.menu-items li,
.menu-items a {
  list-style: none;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 0;
  margin: 10px 15px;
  border-bottom: 1px solid #cfc4c4;
  text-decoration: none;
  color: #555;
}

.menu-items a {
  display: block;
}

.close {
  display: none;
}

.categories-menu {
  height: 100%;
  cursor: pointer;
}

.categories-list li {
  font-size: 13px;
}


/* Responsive Design */

@media (max-width: 768px) {
  .menu-items {
    width: 100vw;
  }

  .menu-items li {
    font-size: 15px;
  }

  .categories-list li {
    font-size: 13px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .menu-items {
    width: 40vw;
  }
}
