.product-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.product-image {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.product-image img {
  max-width: 100%;
}

.product-content {
  width: 50%;
  padding-left: 25px;
}

.product-title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.product-description {
  width: inherit;
  margin-bottom: 1.8rem;
}



/* Sizes */

.product-sizes h3 {
  margin-bottom: 0.5rem;
}

.select-container {
  position: relative;
  display: inline-block;
}

.custom-select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.3;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1.8rem;
  cursor: pointer;
}

.custom-select:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 0 2px rgba(168, 155, 133, 0.2);
  ;
}


/* Product quantity */

.product-quantity {
  margin-bottom: 1.8rem;
}

.product-quantity h3 {
  margin-bottom: 0.5rem;
}

.quantity-input {
  display: flex;
  margin-bottom: 2rem;
}

.quantity-input input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.quantity-input button {
  font-size: 16px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}




/* Responsive Design */

@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-title {
    font-size: 20px;
  }

  .product-price {
    font-size: 14px;
  }

  .product-content {
    padding-left: 0;
  }

  .product-description {
    width: auto;
    font-size: 14px;
  }

  .product-sizes {
    font-size: 14px;
  }

  .custom-select {
    font-size: 15px;
  }

  .product-quantity {
    font-size: 14px;
  }

  .quantity-input input {
    font-size: 14px;
  }
}
