header {
  background-color: #F1F0EF;
  padding: 10px;
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 140px;
}

.icons {
  position: absolute;
  right: 25px;
}

.icons img {
  width: 24px;
  margin-left: 20px;
}

.icons img:last-child {
  margin-right: 0;
  /* Přidáno pro odstranění mezery za poslední ikonkou */
}
