.header-container {
  background-color: #F1F0EF;
  padding: 10px;
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 140px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-right: 10px;
  position: absolute;
  right: 25px;
}

.menu li {
  margin-left: 25px;
  font-size: 24px;
  color: #6D574A;
}

.close {
  display: none;
}

/* Responsive Design */

@media (max-width: 768px) {
  .menu li {
    font-size: 20px;
  }
}
