.user-details {
  color: #524F4A;
}

.user-title {
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.user-detail {
  display: flex;
  flex-direction: column;
}

.user-name,
.user-phone-number,
.user-email {
  margin-bottom: 30px;
}

.user-name h3,
.user-email h3,
.user-phone-number h3 {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 17px;
}

.user-name h3 svg,
.user-email h3 svg,
.user-phone-number h3 svg {
  margin-right: 10px;
}

.user-phone-number .italic {
  font-style: italic;
}


/* Responsive Design */

@media (max-width: 768px) {
  .user-title {
    font-size: 16px;
  }

  .user-name h3,
  .user-email h3,
  .user-phone-number h3 {
    font-size: 16px;
  }


  .user-name p,
  .user-email p,
  .user-phone-number p {
    font-size: 15.5px;
  }
}
