.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  text-align: center;
  background-color: #f1f0ef;
  color: #524f4a;
}

.error-container svg {
  margin-bottom: 20px;
}

.error-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.error-description {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 50vw;
}

.error-description a {
  color: #524f4a;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
}

.error-description a:hover {
  color: #8b8b8b;
}
