.author-page {
  margin: 0 auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

/* About Author */
.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.about {
  text-align: left;
  width: 50%;
}

.author-page h1 {
  color: #555;
  text-transform: uppercase;
  font-size: var(--title-size);
  text-align: center;
  margin-bottom: 30px;
}

.about h2 {
  font-weight: 300;
  font-size: 20px;
  color: grey;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 15px;
}

.about p {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

.about ul {
  padding-left: 0;
  list-style: none;
}

.about li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.about li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.about li a:hover {
  color: grey;
}

.about li svg {
  width: 20px;
  height: 20px;
}

.author-picture {
  background-image: url("../../img/kristyna-novakova.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}


/* Responsive Design */

@media (max-width: 768px) {
  .author-page {
    padding: 35px;
  }


  .author-page h1 {
    margin-bottom: 0px;
  }

  .author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    width: 100%;
  }

  .about {
    text-align: center;
    width: 80%;
  }

  .about ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about h2 {
    font-size: 18px;
  }

  .about p {
    font-size: 15px;
  }

  .about li {
    font-size: 15px;
  }

  .author-picture {
    width: 250px;
    height: 250px;
  }
}

/* Phone */

@media (max-width: 460px) {
  .about {
    width: 70%;
  }
}
