.payment-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F1F0EF;
  padding: 60px;
  color: #524F4A;
  border-radius: 10px;
}

.section-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.payment-text,
.payment-details {
  padding-bottom: 40px;
}


.payment-text {
  font-size: 18px;
  color: #555;
  max-width: 45vw;
}

.qr-code {
  margin-bottom: 60px;
}
